# Relational Database Connection Config (PostgreSQL + PostGIS)
DATABASE_URL="postgresql://attravoya_admin:attravoya_secure_password_2026@localhost:5432/attravoya_db?schema=public"

# Redis Cache Connection Config
REDIS_HOST="localhost"
REDIS_PORT=6379

# Express Server Port & Session Encryption
PORT=3000
JWT_SECRET="attravoya_secret_key_2026_jwt"

# Environment Setting ( Bypasses database connection to mock arrays if 'true' )
USE_MOCK_DB="true"
NODE_ENV="development"